{% extends 'base.html.twig' %}

{% block title %} - Accueil{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="row">
        {% for ref in refs %}
        <div class="col-lg-4 col-md-4 col-sm-12 mx-auto my-2">
            <div class="card">
                <img src="{{ ref.image }}" class="card-img-top" style="height : 300px" alt="random description">
                <div class="card-body">
                    <h5 class="card-title">{{ ref.title }}</h5>
                    <p class="card-text">{{ ref.description|length > 50 ? ref.description|slice(0 , 50) ~ '...' :
                        ref.description }}</p>
                    <p class="card-text">Prix : {{ ref.price.amount }} €</p>
                    <div class="row">
                        <div class="col-6">
                            <ul class="list-inline">
                                {% for key, color in ref.colors %}
                                <li class="list-inline-item" value="{{ key }}">
                                    <div class="circle circle-{{color}}"></div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-6 text-end">
                            <ul class="list-inline">
                                {% for size in ref.sizes %}
                                <li class="list-inline-item">{{ size }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <a href="{{ path('shop_show', {'slug': ref.slug }) }}" class="btn btn-dark mx-3">Voir le
                            détail</a>
                        <form method="post" action="{{ path('shop_wishlist_add', {'id': ref.id }) }}">
                            <input type="hidden" name="_token" value="{{ csrf_token('wishlist_add' ~ ref.id) }}">
                            {% if app.user and ref.isLikedByUser(app.user) %}
                            <button class="btn btn-outline-dark"><i class="fa-solid fa-heart"></i></button>
                            {% else %}
                            <button class="btn btn-outline-dark"><i class="fa-regular fa-heart"></i></button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}