{% extends 'base.html.twig' %}

{% block title %} - Shop : {{ ref.title }}{% endblock %}

{% block body %}
<section class="container mt-5" id="shop_show">
    <div class="row mx-auto">
        <div class="col-4">
            <img src="{{ ref.image }}" class="card-img-top" alt="random description" id="js_img_card">
        </div>
        <div class="col-8">
            <h5 class="card-title">{{ ref.title }}</h5>
            <p class="card-text">{{ ref.description }}</p>
            <p class="card-text">Price : {{ ref.price.amount }} €</p>
            <div class="row">
                <div class="col-6">
                    <h6>Couleurs disponibles :</h6>
                    <ul class="list-inline">
                        {% for key, color in ref.colors %}
                        <li class="list-inline-item" value="{{ key }}"><div class="circle circle-{{color}}"></div></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-6">
                    <h6>Tailles disponibles :</h6>
                    <ul class="list-inline">
                        {% for size in ref.sizes %}
                        <li class="list-inline-item">{{ size }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col">
                    <p id="js_display_qty" class="text-danger"></p>
                </div>
            </div>
            {% include 'shop/components/_add_to_cart_form.html.twig' %}
        </div>
    </div>
    <div class="text-end">
        <a href="{{ path('shop_home') }}" class="">Retour à la liste des models</a>
    </div>
</section>
{% endblock %}
{% block javascript %}
<script>
    const show_ref = JSON.parse('{{ ref.id | json_encode }}');
    document.getElementById('select_size_js').addEventListener('change', e => {
        getAndDisplayColors(show_ref, e.target.value);
    });    
</script>
{% endblock %}